body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-family: "Titan One", sans-serif;
  color: white;
  font-weight: 400;
  font-style: normal;
}

#webgl {
  width: 100vw;
  height: 100vh;
}

.game-bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55%;
  justify-content: flex-start;
  position: absolute;
  top: 10px;
  left: 10px;
}

.game-time {
  font-size: 100px;
  color: #ffffff;
  text-shadow: 5px 5px 0px rgba(72, 117, 131, 0.753);
}

.bonus-time {
  font-size: 100px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 5px 5px 0px rgba(72, 117, 131, 0.753);
}

.menu-backdrop {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.tutorial-menu-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000%);
  font-size: 30px;
}

.tutorial-menu-wrapper > p {
  margin: 10px;
}

.tutorial-menu-wrapper > .tutorial-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tutorial-container > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.tutorial-container  > section > img {
  border-radius: 20px;
  border: 4px solid white;
  background-size: cover;
}

.tutorial-container  > section > span {
  padding: 10px;
  align-self: center;
  justify-self: center;
}

.menu-wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200px);
}

.menu-wrapper menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding-inline: 30px;
  padding-block: 10px;
  width: max-content;
  border: 4px solid white;
  color: white;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.301);
  font-size: 60px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.459);
}

.pause-menu-wrapper {
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000%);
}

.pause-menu-wrapper p {
  margin: 0;
  font-size: 80px;
  color: white;
  text-shadow: 5px 5px 0px rgba(72, 117, 131, 0.753);
}

.end-menu-wrapper {
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000%);
}

.end-menu-wrapper > p {
  margin: 0;
  font-size: 80px;
  color: white;
  text-shadow: 5px 5px 0px rgba(72, 117, 131, 0.753);
}

.end-menu-wrapper > span {
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  color: white;
}

