body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#webgl {
  width: 100vw;
  height: 100vh;
}

.game-bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55%;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;
}

.game-time {
  font-size: 60px;
  font-family: "Titan One", sans-serif;
  color: rgba(255, 255, 255, 0.877);
  font-weight: 400;
  font-style: normal;
}

.owned-presents-counter {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
}

.owned-presents-counter > p {
  font-size: 60px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.877);
  margin: 0;
  transform-origin: 10% 50%;
}

.menu-backdrop {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu-wrapper {
  position: absolute;
  gap: 10px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu-wrapper menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding-inline: 30px;
  padding-block: 10px;
  width: max-content;
  border: 2px solid white;
  color: white;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.301);
  font-size: 40px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.459);
}

.pause-menu-wrapper {
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000%);
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pause-menu-wrapper p {
  margin: 0;
  font-size: 80px;
  color: white;
}

.end-menu-wrapper {
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000%);
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.end-menu-wrapper > p {
  margin: 0;
  font-size: 80px;
  color: white;
}

.end-menu-wrapper > span {
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  color: white;
}